/**
* CSS/LESS goes after here
*/
@gray-base : #000;
@week-table-bg-color: lighten(@gray-base, 90.0%);
@week-table-border-color: lighten(@gray-base, 80.0%);
@week-table-min-width: 312px;
@week-table-hours-col-width: 60px;
@week-table-col-width: ~'calc((100% - 60px)/7)';

body {
    #content {
        height: 100%;

        >div {
            height: 100%;

            >div {
                height: 100%;
            }
        }
    }

    .cover {
        padding: 30px 15px;
        margin-bottom: 30px;
        color: inherit;
        background-color: #eeeeee;
        margin-bottom: 0px !important;
        padding: 0px 0px;
        background-color: transparent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        min-height: 100%;
    }
    .cover h1,
    .cover .h1 {
        color: inherit;
    }
    .cover p {
        margin-bottom: 15px;
        font-size: 21px;
        font-weight: 200;
    }
    .cover > hr {
        border-top-color: #d5d5d5;
    }
    .container .cover,
    .container-fluid .cover {
        border-radius: 0px;
    }
    .cover .container {
        max-width: 100%;
    }
    @media screen and (min-width: 768px) {
        .cover {
            padding: 48px 0;
        }
        .container .cover,
        .container-fluid .cover {
            padding-left: 60px;
            padding-right: 60px;
        }
        .cover h1,
        .cover .h1 {
            font-size: 63px;
        }
    }
    .cover h1.text-primary {
        color: #337cbb !important;
    }
    .cover h1.text-inverse {
        color: #ffffff !important;
    }
    .cover h1.text-info {
        color: #5bc0de !important;
    }
    .cover h1.text-success {
        color: #5cb85c !important;
    }
    .cover h1.text-warning {
        color: #f0ad4e !important;
    }
    .cover h1.text-danger {
        color: #d9534f !important;
    }
    @media screen and (min-width: 768px) {
        .cover {
            padding: 0px;
        }
        .container .cover,
        .container-fluid .cover {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .cover .navbar {
        position: absolute;
        top: 0px;
        width: 100%;
        border: none;
        background-color: transparent !important;
    }
    .cover .navbar .navbar-nav li.active a {
        background-color: transparent !important;
    }
    .cover .navbar .navbar-toggle {
        border-color: transparent;
    }
    .cover .navbar .navbar-toggle:hover,
    .cover .navbar .navbar-toggle:focus {
        background-color: transparent;
    }
    .cover .navbar .navbar-toggle .icon-bar {
        background-color: #000000;
    }
    .cover .navbar.navbar-inverse .navbar-toggle {
        border-color: transparent;
    }
    .cover .navbar.navbar-inverse .navbar-toggle:hover,
    .cover .navbar.navbar-inverse .navbar-toggle:focus {
        background-color: transparent;
    }
    .cover .navbar.navbar-inverse .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .cover .cover-image {
        z-index: -1;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    .cover .cover-image.background-image-fixed,
    .cover .cover-image.cover-image-fixed {
        background-attachment: fixed;
    }
}

.week-header {
    h1 {
        display: inline;
    }
}

.week-table {
    background-color: @week-table-bg-color;
    border-color: @week-table-border-color;
    min-width: @week-table-min-width;
    table-layout: fixed;

    thead tr {
        th {
            border-color: @week-table-border-color;

            &:first-child {
                width: @week-table-hours-col-width;
                min-width: @week-table-hours-col-width;
            }

            &:not(:first-child) {
                width: @week-table-col-width;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    tbody {
        tr {
            &:nth-of-type(odd) {
                background-color: darken(@week-table-bg-color, 2.0%);
            }

            td {
                border-top: none;
                border-bottom: none;
                border-color: @week-table-border-color;
                position: relative;

                &:first-child {
                    width: @week-table-hours-col-width;
                    min-width: @week-table-hours-col-width;

                    span {
                        display: inline-block;
                        height: 15px;
                    }
                }

                &:not(:first-child) {
                    width: @week-table-col-width;
                }

                div {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 4px;

                    &.tag {
                        color: white;
                        border: 1px solid black;
                        background-color: darken(@week-table-bg-color, 25.0%);
                        z-index: 1;
                    }

                    &.selected {
                        background-color: darken(@week-table-bg-color, 15.0%);
                    }
                }
            }
        }
    }
}
.user-settings-dialog {
}

.event-dialog {

    .modal-header {
        border-bottom: none;
    }

    .date-field {
        height: 50px;
    }

    textarea {
        resize: vertical;
    }

    .thumbnail {
        cursor: pointer;

        img {
            height: 125px;
        }

        .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.button {
    cursor: pointer;
}

.color-tag[selected] {
    border: 1px solid black;
}

/**
* All CSS/LESS should go above. Do not remove this!! This is to determine if compilier appends to the end of built/client/styles.css
*/
my-custom-class {
  color:default;
}