/**
* CSS/LESS goes after here
*/

.week-table {
    tbody {
        td:first-child span {
            display: inline-block;
            height: 15px;
        }
    }
}

.user-settings-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.button {
    cursor: pointer;
}

.color-tag[selected] {
    border: 1px solid black;
}

/**
* All CSS/LESS should go above. Do not remove this!! This is to determine if compilier appends to the end of built/client/styles.css
*/
my-custom-class {
  color:default;
}